body {
  /* height: 100%; */
    font-family: Arial, sans-serif;
   /* background-color: white; */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    color: rgb(255, 255, 255);
    height: 100vh;
    font-size: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  /* Mobile Responsive Styles */
  @media (max-width: 768px) {
    .content-overlay {
      padding: 15px;
  }
  
  .content-overlay h1 {
      font-size: 24px;
  }
  
  .content-overlay p {
      font-size: 16px;
  }
   
    }
  

  /* Background Image */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: -1; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

  .dark-mode-button {
    padding: 5px 10px;
    border: none;
    background-color: #ffd700;
    color: #000;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;

  }

  .main-about {
    z-index: 1;
    margin-top: 25px;
    text-align: center; 
    color: white;
    width: 100%;
}

/* Dark Transparent Background */
.content-overlay {
  background-color: rgba(0, 0, 0, 0.6); /* Dark semi-transparent background */
  padding: 20px; /* Add padding inside the overlay */
  border-radius: 10px; /* Optional: Add rounded corners */
  /* display: inline-block;  Ensure the overlay wraps the content */
  display: block;
 /* width: 100%; */
  max-width: 1000px; /* Optional: Limit the width of the overlay */
  margin: 0 auto; /* Center the overlay */
  /* Add word wrapping */
  word-wrap: break-word;
  box-sizing: border-box;
}

 


.main-about ul {
    list-style-position: outside; 
    padding-left: 20px; 
    display: inline-block;
    text-align: left;
}

.main-about h1, .main-about li {
    margin: 0; 
    padding: 0; 
}

.main-about p {
  width: 800px; /* Set a fixed width for the paragraphs */
  margin: 0 auto; /* Center the paragraphs horizontally */
  text-align: left; /* Align the text inside the paragraphs to the left */
  padding: 10px 0; /* Add some padding for better spacing */
}